.content{
  padding-top: 60px;
}

.alert-success{
  display: none;
}

.alert-warning{
  display: none;
}

.theForm{
  margin-top: 30px;
}

.noteTitle{
  min-width: 400px;
}

.notes{
  margin-left: 40px;
}
