.content{
  padding-top: 70px;
}

.alert-success{
  display: none;
}

.alert-warning{
  display: none;
}

.theForm{
  margin-top: 30px;
}

.noteTitle{
  min-width: 400px;
}

.notes{
  margin-left: 40px;
}

.autosave{
  font-size: 0.95em;
  color: grey;
  display: none;
}

.saved{
  font-size: 0.95em;
  color: grey;
  display: none;
}

.generalText{
  margin-top: 15px;
}

.search-input {
   width: 100%;
   margin-bottom: 17px;
   padding: 15px;
   background-color: #ECF4F4;
   border-radius: 2px;
   border: none;
   font-size: 1.4em;
}
