body{
 font-family: 'Open Sans', sans-serif;
 font-size: 1.4em;
 font-weight: 300;
 background-color: #323a45;
}

.content{
  padding-top: 15px;
  background-color: #fff;
  margin-top: 70px;
  margin-bottom: 20px;
  border-radius: 7px;
}

@media (max-width: 995px) {
  .content {
    border-radius: 0px;
  }
}

.theForm{
  margin-top: 30px;
  margin-bottom: 20px;
}

.noteTitle{
  min-width: 400px;
}

.notes{
  margin-left: 0px;
}

.autosave{
  font-size: 0.95em;
  color: grey;
  display: none;
}

.saved{
  font-size: 0.95em;
  color: grey;
  display: none;
}

.generalText{
  margin-top: 15px;
}

.search-input {
   width: 100%;
   margin-bottom: 17px;
   padding: 15px;
   background-color: #ECF4F4;
   border-radius: 2px;
   border: none;
   font-size: 1.4em;
}

.searchResults{
  display: none;
}

.loading {
  display: none;
}

#loader {
    position: relative;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 35px;
    margin:10px 0 0 10px;
    -webkit-animation:spin 0.7s linear infinite;
    -moz-animation:spin 0.7s linear infinite;
    animation:spin 0.7s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.loadingArea {
  display: none;
}

.toRight{
  float: right;
  margin-top: -34px;
}

.navbar-inverse{
 background-color: #38342b;
}

.panel-heading h4{
  font-family: 'Bree Serif', serif;
  font-size: 1.7em;
  font-weight: 400;
  color: #323a45;
}

h2 {
  font-family: 'Bree Serif', serif;
  font-size: 2.1em;
  font-weight: 400;
  color: #323a45;
}

.panel-heading {
  background-color: #dfd9cb;
  color: red;
}

.main-feature{
  padding-bottom: 30px;
}

.home-presentation{
  width: 100%;
  max-width: 350px;
  border: solid 1px #38342b;
  border-radius: 7px;
}

.meteorNotes-is-responsive{
  width: 100%;
  max-width: 555px;
}

.feature{
  padding-top: 30px;
  padding-bottom: 30px;
}

.oddRow{
  background-color: #dfd9cb;
}

.red{
  color: red;
}

.addShadow{
  -webkit-box-shadow: 3px 3px 3px #7C7C7C;
  box-shadow: 3px 3px 3px #7C7C7C;
}
